* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Add styles here! */
header,
main {
  height: 50%;
}
main {
  background-color: hsl(0deg, 0%, 30%);
}
.max-width-wrapper {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 32px 0;
}
.intro-chunk {
  padding: 16px;
}
.title {
  font-size: 2rem;
}
header p strong {
  color: hsl(160deg, 100%, 30%);
}
section p {
  font-size: 1rem;
  line-height: 1.5;
}
.card {
  background-color: hsl(0deg, 0%, 100%);
  padding: 16px;
  border-bottom: 8px solid hsl(0deg, 0%, 60%);
}
